
body{
    background-color: white;
    margin: 1px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    
}
.clr{
    clear: both;
}
.container{
    width: 80%;
    margin: auto;
}
.button{
    background-color: black;
    color: aliceblue;
    border: 0;
    padding: 5px;
}
.button:hover{
    background-color: red;
    color: white;
}
.box-1{
    padding: 10px;
    background-color: #333;
    margin: 10px 0px;
    color: aliceblue;
    border: 3px red solid;
   
    
}
.box-1 h1{
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    word-spacing: 0.5em;
    font-style: italic;
    font-family: Tahoma;
    margin-top: 0px;
    
}
.box-2{
    color: #333;
    border: 3px dotted #333 ;
    padding: 10px;
    
    font-style: italic;
}
.my-form{
    padding-top:  15px;
    
}
.my-form .form-group{
    padding-bottom:  15px;
    
    
}
.my-form label{
    display:block;
}
.my-form input[type = "text"], .my-form textarea{
    padding: 4px;
    width: 100%;
}

.categories h3{
    text-align: center;
    margin: 5px;
}
.categories{
    border: 1px #333 solid;
    margin: 10px;
    border-radius: 10px;
}
.categories ul{
    padding-left: 20px;
}
.categories li{
    padding-bottom: 8px;
    list-style: square;
    border-bottom: 1px dotted #333;


}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: red;
}
.block{
    float: left;
    width: 33.3%;
    border: 1px #ccc solid;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.p-box{
    width: 50%px;
    height: 400px;
    border: 1px #000 solid;
    margin-top: 10px;
    position: relative;
    background-image: url("./images/image2.jpg");
    background-size: cover;
}
.p-box h1{
    position: sticky;
    top: 250px;
    right: 150px;
}
.p-box h2{
    position: sticky;
    top: 0px;
    
}
.fix-me{
    position: fixed;
    top: 300px;
    left: 0px;
}